{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <h3>Enter the stock you want to buy</h3>
            <h5>Current Budget = {{cash}}</h5>
        </div>
        <div class="form-group">
            <input class="form-control" name="sym" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
